a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: unset !important;
}

.avoidMaxWidthFullBody {
  max-width: none;
}

.main-wrapper {
  min-height: 105vh;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .main-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .main-wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: 1400px) {
  .main-wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.nav-wrap {
  height: 76px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    #242424,
    #242424 0%,
    transparent 100%
  );
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .nav-wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .nav-wrap {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: 1400px) {
  .nav-wrap {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.active {
  color: #ea6016;
}

.logo {
  max-width: 120px;
  max-height: 42px;
}

.navbar-left-section {
  font-size: 20px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-section > *:hover {
  cursor: pointer;
  color: #ea6016;
}

@media (max-width: 1400px) {
  .navbar-left-section {
    font-size: 16px;
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  .navbar-left-section {
    width: fit-content;
  }

  .navbar-right-section {
    width: 100% !important;
  }

  .navbar-left-section > *:not(.logo) {
    display: none;
  }

  .menu-sidebar {
    display: block;
  }
}

.navbar-right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  font-size: 14px;
}

.input-wrap {
  max-width: 420px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  border-radius: 99999px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
  font-size: 20px;
  color: #ffffff;
}

input.search::placeholder {
  font-size: 20px;
}

input.search::-webkit-input-placeholder {
  font-size: 20px;
}

input.search {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

input.search:focus {
  outline: none;
  caret-color: #ffffff;
}

input.search:focus ~ .place-holder-custom {
  display: none;
}

.search-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-icon {
  padding: 8px 16px;
  cursor: pointer;
}

.search-icon > img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.button-section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: rgba(53, 52, 52, 0.5);
  border: 1px solid #ea6016;
  color: #ea6016;
  width: 110px;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-left: 24px;
}

.login-button:hover {
  color: #ea6016 !important;
}

.register-button {
  background-color: #ea6016;
  width: 110px;
  border-radius: 50px;
  padding: 8px 16px;
  color: #ffffff;
  cursor: pointer;
}

.icon-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 24px;
  cursor: pointer;
}

/* navbar mobile top */
.nav-bar-mobile-top-wrap {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 52px;
  padding: 0 1rem;
  background-color: hsla(0, 0%, 9%, 0.9);
}

.nav-bar-mobile-top {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

/* navbar mobile bottom */
.nav-bar-mobile-bottom-wrap {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.nav-bar-mobile-bottom {
  width: 100%;
  height: 72px;
  display: flex;
  flex: 1 1 0% !important;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  background-color: #242424;
  padding: 4px;
}

.nav-bar-item {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .nav-wrap {
    display: none;
  }

  .nav-bar-mobile-bottom-wrap {
    display: block;
  }

  .nav-bar-mobile-top-wrap {
    display: block;
  }
}

/* menu sidebar */
.menu-sidebar > img {
  width: 40px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
}

.menu-sidebar {
  display: none;
  position: relative;
}

@media (max-width: 1200px) {
  .menu-sidebar {
    display: block;
    margin-left: 10px;
  }
}

.side-bar {
  position: absolute;
  width: 206px;
  right: -32px;
  top: 58px;
  background-color: #353434;
  border-radius: 5px;
  visibility: hidden;
  transition: 0.1s;
}

.side-bar-menu-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.side-bar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.side-bar-item > div {
  margin-left: 5px;
}

.side-bar-item:hover > div {
  color: #ea6016;
}

.side-bar-menu-wrap::after {
  content: "";
  right: 10px;
  top: -15px;
  z-index: 1;
  position: absolute;
  border-left: 7px solid transparent;
  border-bottom: 8px solid #353434;
  border-right: 7px solid transparent;
  border-top: 8px solid transparent;
}

.open {
  visibility: visible;
}

/* slider */
.head-slider {
  margin-top: -76px;
  width: 100%;
}

.movie {
  width: 100%;
  height: 100%;
}

.movie-slider-item::before {
  content: "";
  position: absolute;
  background: radial-gradient(
      ellipse,
      hsl(0deg 0% 8% / 0%) 80%,
      hsl(0deg 0% 8% / 50%) 90%,
      hsl(0deg 0% 8%) 100%
    ),
    radial-gradient(
      ellipse,
      hsla(0, 0%, 8%, 0.3) 5%,
      hsla(0, 0%, 8%, 0.35) 18%,
      hsla(0, 0%, 8%, 0.85) 70%
    );
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.movie-slider-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.movie-slider-item > img {
  width: 100%;
  height: 100%;
}

.sub-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sub-banner > img {
  max-height: 150px;
  margin-top: -150px;
}

.years {
  margin-top: 20px;
  color: #bcbcbc;
}

.years > span {
  color: #ffffff;
}

.button-detail {
  margin-top: 10px;
  padding: 10px 1.25rem;
  border-radius: 4px;
  background-size: 200% auto;
  background-image: linear-gradient(90deg, #ff8800, #ea3c2a 50%, #ff8800),
    linear-gradient(90deg, #f80, #ea3c2a 50%, #f80);
  font-weight: bold;
}

@media (max-width: 1200px) {
  .sub-banner > img {
    max-height: 120px;
    margin-top: 0px;
  }
}

/* custome slicks dot */
.movie .slick-dots {
  height: 100%;
  width: fit-content;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 300px;
  z-index: 9;
  right: 0;
}

.movie .slick-dots li button:before {
  font-size: 10px !important;
  width: 16px;
  height: 16px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: #5a5c5e;
}

.movie .slick-dots li.slick-active button:before {
  color: #ea6016;
  border: 1px solid #ea6016;
  border-radius: 50%;
  opacity: 1;
}

.movie .slick-dots li {
  margin: 0 100px !important;
}

.movie .slick-list {
  z-index: 9;
}

/* rank slider */
.rank-wrap {
  margin-top: -100px;
}

.header-text-wrap {
  position: relative;
  padding-left: 20px;
  margin: 35px 0 20px 0;
}

.text-header::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 40px;
  background: linear-gradient(180deg, #f80, #ea3c2a);
  border-radius: 1rem;
  bottom: -10px;
  transform: translateY(-50%);
  left: 0;
}

.text-header span > img {
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.rank .rank-item,
.slider-item {
  width: 100%;
  padding: 10px;
  position: relative;
}

.rank .rank-item > a,
.slider-item > a {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.img-card-wrap,
.img-card-wrap {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.img-card-wrap > img,
.img-card-wrap > img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.img-card-wrap:hover > img,
.img-card-wrap:hover > img {
  transform: scale(1.1);
}

.img-card-wrap:hover,
.img-card-wrap:hover {
  box-shadow: 0 0 14px -1px #ff8800 !important;
}

.header-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rank-text {
  position: absolute;
  top: -27px;
  left: -1px;
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
}

.rank-text > span {
  background-image: linear-gradient(178deg, #888 21%, hsla(0, 0%, 71%, 0) 99%);
  -webkit-text-stroke: 0.5px #c1c0c05e;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rank-text > span.rank1 {
  background-image: linear-gradient(180deg, #f80 50%, #ff3b0000 80%);
  -webkit-text-stroke: 0.5px #f80;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rank-text > span.rank2 {
  background-image: linear-gradient(180deg, #ebac00 54%, #fad40000 83%);
  -webkit-text-stroke: 0.5px #ebac00;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rank-text > span.rank3 {
  background-image: linear-gradient(180deg, #47ce7d 54%, #85e37d30 83%);
  -webkit-text-stroke: 0.5px #47ce7d;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* custome arrow */
.custom-arrow {
  display: flex;
}

.custom-arrow .slick-prev,
.custom-arrow .slick-next {
  position: relative;
}

.custom-arrow .slick-arrow:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 1;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}

.custom-arrow .slick-prev::before {
  background-image: url("../assets/icons/left-chevron.png");
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.custom-arrow .slick-next::before {
  background-image: url("../assets/icons/right-chevron.png");
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.custom-arrow .slick-prev {
  left: -10px;
}

.custom-arrow .slick-next {
  right: 0;
}

.title-card {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
